<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- Allow developers to suppress json output with a SBT property -->
    <encoder>
      <pattern>%date - [%X{userId}] [%X{request}] [%level] - from %logger in %thread %n%message%n%xException%n</pattern>
    </encoder>
  </appender>

  <root level="${GEDIT_LOG_LEVEL:-DEBUG}">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
